.outer{
    width: 400px;
    height: 400px;
    background-color: rgb(251, 193, 69);
    border-radius: 50%;
}
.lefteye{
    position: absolute;
    width: 60px;
    height: 60px;
    top:60px;
    left: 100px;
    display: inline-block;
    background-color: black;
    border-radius: 50%;}
    .righteye{
    position: absolute;
    width: 60px;
    height: 60px;
    top:60px;
    left: 250px;
    background-color: black;
    border-radius: 50%;}

.lips{
    background-color: rgb(86, 40, 40);
    width: 250px;
    height: 75px;
    position:absolute;
    top: 250px;
    left: 80px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
   
}